@model IEnumerable<DDAC_System.Models.AcademicClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {<a asp-action="Create">New Class</a>}
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Class Name
            </th>
            <th>
                Lecturer
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Location
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Lecturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Location)
            </td>
            @if (item.ClassStartTime > DateTime.Now)
            {
                @if (item.ClassStartTime == DateTime.Today){<td>Today</td>}
                else{<td>Not Started</td>}
            }else
            {
                if((item.ClassStartTime < DateTime.Now) 
                    && (item.ClassEndTime > DateTime.Now)){<td>In Session</td>}
                else {<td>Ended</td>}
            }
            <td>
                <a asp-action="Details" asp-route-id="@item.Class_ID">Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Class_ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Class_ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
